apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
spec:
  selector:
    app: helloworld
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  # Gunakan NodePort agar mudah diakses di Kind
  type: NodePort